@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg-color: #114f62;

  --scorebug-top: 5.1%;
  --scorebug-left: 12%;
  --scorebug-font-size: 1.2vw;

  --score-margin: 0.2vw;
}

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  overflow: hidden;
}

span {
  display: block;
}

.overlay {
  /* background-color: slategrey; */
  width: 100vw;
  aspect-ratio: 16/9;
  position: relative;
}

.scorebug {
  position: relative;
  display: flex;
  top: var(--scorebug-top);
  left: var(--scorebug-left);
  font-size: var(--scorebug-font-size);
}

.teams {
  background-color: var(--bg-color);
  padding: 0.5vw 2vw 0.5vw 1vw;
}

.game-score,
.period-score {
  width: 1.2em;
  padding: 0.5vw;
  text-align: center;
}

.serve-indicator {
  padding: 0.65vw 0 0 0.5vw;
}

.game-score,
.period-score {
  background-color: var(--bg-color);
}

.game-score {
  margin-left: var(--score-margin);
  font-weight: 600;
}

.period-score {
  margin-left: var(--score-margin);
}

.serve-image {
  width: var(--scorebug-font-size);
}

.hide {
  visibility: hidden;
}

button {
  margin: 2vw 3vw;
  width: 10vw;
  height: 3vw;
  font-size: 1.5vw;
}

.lower3rd {
  position: absolute;
  top: 75%;
  left: 50%;
  translate: -50%;

  display: flex;
  flex-direction: column;
}

.text-info {
  display: flex;
  justify-content: center;
}

.message {
  background-color: var(--bg-color);
  margin: 0 0 0.18vw 0;
  padding: 0.5vw 1vw;
  width: 15vw;
  text-align: center;
  font-size: 1.5vw;
}

.game-info {
  display: flex;
  font-size: 2.8vw;
}

.game-info > div {
  background-color: var(--bg-color);
  padding: 0.5vw 1vw;
}

.home-team,
.away-team {
  width: 28vw;
}

.home-team {
  text-align: right;
}

.score {
  width: 7vw;
  margin: 0 0.2vw;
  text-align: center;
}

.in {
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms, visibility 0s linear;
}
